html * {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#js_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}